<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fitness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/home.css">

    <script src='https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js'></script>
</head>

<body class='d-flex text-center text-white bg-dark'>
    <div class="cover-container d-flex w-100 h-100 p3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class='float-md-left mb-0'>fitness</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a href="#" class="nav-link active" aria-current="page">Home</a>
                    <a href="/classes" class="nav-link">Classes</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>fitness</h1>
            <p class="lead"> Welcome to fitness! <br> Interested in learning martial arts? Looking for a new place to
                get some excersize? Well you have found
                the right place. <br> Jump in and explore our variety of classes. We have options for all ages, skill
                levels,
                and goals.</p>
            <a href="/classes" class="btn btn-lg btn-secondary font-weight-bold bg-white">View Classes</a>
        </main>

        <footer class="mt-auto text-white-50">&copy;2021 fitness</footer>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>