<% layout('layouts/boilerplate') %>
    <form action="/classes" method="POST">
        <div>
            <label for="">Title</label>
            <input type="text" id='title' name="cl[title]">
        </div>
        <div>
            <label for="">Description</label>
            <input type="text" id='title' name="cl[description]">
        </div>
        <button>Add Class</button>
    </form>
    <a href="/classes">All Classes</a>